<p>Startups have been searched for!</p>

<p>Startups with no results: <%= @startups_with_zero_results %></p>
<p>Startups with 1 result: <%= @startups_with_one_result %></p>
<p>Startups with multiple results: <%= @startups_with_multiple_results %></p>